<div class="box">
    <form action="/days" method="post">
        <label>
            Start date:
            <input type="date" name="start_date"/>
        </label>

        <label>
            End date:
            <input type="date" name="end_date"/>
        </label>

        <input type="submit" value="Add dates">
    </form>
</div>
<div class="box">
    {{ if .days }}
        <table>
            <thead>
                <tr>
                    <th>date</th>
                    <th>delete</th>
                </tr>
            </thead>
            {{ range .days }}
                <tr>
                    <td>{{ .Date.Format "Mon 2 January 2006" }}</td>
                    <td>
                        <form action="/days/{{ .Id }}" method="post">
                            <input type="submit" class="danger" value="Delete">
                      </form>
                    </td>
                </tr>
            {{ end }}
        </table>
    {{ else }}
        <h1>No days yet!</h1>
    {{ end }}
</div>