<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zess</title>
</head>
<body>
    {{if .user_id}}
    <div>Hello {{.username}}! Your id is: {{.user_id}}</div>
    <a href="/logout">Logout :(</a>
    <form action="/card/register" method="post">
        <input type="submit" value="Start registering a new card">
    </form>
    {{- else}}
    <a href="/login">Login with Zauth :)</a>
    {{- end}}
</body>
</html>