<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zess</title>
</head>
<body>
    <p>ZauthID: {{.zauth_id}}</p>
    <form action="/register" method="POST">
        <input name="zauth_id" placeholder="zauth_id">
        <input type="submit" value="register">
    </form>
    
    <form action="/login" method="POST">
        <input name="zauth_id" placeholder="zauth_id">
        <input type="submit" value="login">
    </form>
</body>
</html>