<h1 class="title">
    Yay! Settings! They don't do anything :(
</h1>

<form class="settings" action="/settings" method="post" autocomplete="off">
    <label>
        <input type="checkbox" name="scan_in_out" {{ if .user.Settings.ScanInOut }} checked {{ end }}>
        <input type='hidden' value='off' name='scan_in_out'>
        Keep track of time based on scan-in and scan-out (experimental)
    </label>
    <label>
        <input type="checkbox" name="leaderboard" {{ if .user.Settings.Leaderboard }} checked {{ end }}>
        <input type='hidden' value='off' name='leaderboard'>
        Show on leaderboard
    </label>
    <label>
        <input type="checkbox" name="public" {{ if .user.Settings.Public }} checked {{ end }}>
        <input type='hidden' value='off' name='public'>
        (Semi-)Public profile
    </label>
    <input type="submit" value="Save settings">
</form>

<style>
    .settings {
        display: flex;
        flex-direction: column;
    }
</style>