<style>
    .weekBox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        overflow: auto;
    }

    .weekBox > div {
        height: 80px;
        width: 80px;
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        font-weight: bolder;
        text-wrap: nowrap;
    }
</style>

<div class="box weekBox">
    {{ range .days_present_7 }}
        <div class="box {{ if .Present }} success {{ else if .StreakDay }} danger {{ else }} inactive {{ end }}">
            {{ .Date.Format "Mon 02 Jan" }}
        </div>
    {{ end }}
</div>