<nav class="navbar is-warning">
    <div class="container has-text-white">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Zess</a>
    </div>
        <div class="navbar-menu">
            {{if .username}}
            <div class="navbar-start">
                <a class="navbar-item" href="/scans">Scans</a>
                <a class="navbar-item" href="/cards">Cards</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/logout">Hello {{.username}}!</a>
            </div>
            {{- else}}
            <div class="navbar-end">
                <a class="navbar-item" href="/login">Login with Zauth :)</a>
            </div>
            {{- end}}
        </div>
    </div>
</nav>